/* global reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}
/* nawigacja */
.navbar{
	padding: 0;
	height: 10vh;
}
nav{

	display: flex;
	align-items: center;
	background-color: #f2f2f2;
	transition: all 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* linki w nawigacji */
.nav-links{
	display: flex;
	margin: auto 0;
	list-style: none;
	width: 45%;
	justify-content: space-between;
}
.nav-links li{
	margin: 0 4px;
}
.nav-links a{
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
	color: #292b2c;
}
/* mobilny burger */
.burger{
	display: none;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color:#292b2c;
	margin: 5px;
	transition: all 0.3s ease;
}
/* logo */
#nav-cont img{
	top: 0;
}
#logo-img{
	transition: all 0.4s;
	}
.logo-tiny{
	width: 60px;
}
.logo-big{
	width: 150px;
}

/* utility */
.space-1{
	height: 200px;
}
.space-2{
	height: 100px;
}

#form-cont{
padding: 6% 0;
}
#form{
	padding: 6% 0;
}
#cont {
	position: relative;
	height: fit-content;
	margin: 0 auto;
	background-color: #f2f2f2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* inputy */
textarea{
	overflow:hidden;
	border: none;
	border-radius: 20px;
	width: 300px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
textarea:focus{
	outline: none;
   border: 1.5px solid #0275d8;
}
textarea::placeholder {      
	text-align: center; 
} 
input[type="text"]{
	border: none;
	border-radius: 20px;
	width: 300px;
	height: 40px;
	text-align: center;
}
input[type="text"]::placeholder {      
	text-align: center; 
} 
input:focus{
	outline: none;
   border: 1.5px solid #0275d8;
}
input[type="submit"]{
	border-radius: 20px;
	width: 200px;
}
#cap{
	margin: 0 auto;
	width: auto;
}
#cap-cont{
	text-align: center;
}
#cap> div{
	width: auto !important;
}

/* cake */

.dis-none{
	/* transform: translateX(100%);
			transition: transform  0.5s ease-in; */
			display: none;
}

#cake-cont{
width: 100%;
height:100%;

justify-content: center;
padding: 2% 0 0 0;
}

#back{
	display: none;
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
}
.box{
	width: 5.5px;
	height: 5.5px;
	background-color: #0275d8;
	color: #f2f2f2;
	float: left;
	border-radius:70%;
}
.box:hover{
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.pulse{
	animation: pulse 2s infinite;
}
@keyframes pulse{
	0%{
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(2, 117, 216, 0.7);
	}
	70%{
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(2, 117, 216, 0);
		;
	}
	100%{

	}
}
.box:nth-child(even){
	visibility: hidden;
}
/* MEDIA QUERIES */
@media screen and (max-width: 330px){ 
	.box{
		width: 5.5px;
		height: 5.5px;
	}
}
@media screen and (min-width: 374px){ 
	.box{
		width: 6.5px;
		height: 6.5px;
	}
}
 /* Small devices (landscape phones) */
 @media screen and (min-width: 411px){ 
	.box{
		width: 7px;
		height: 7px;
	}
	
}
@media screen and (min-width: 576px){ 
	.box{
		width: 8px;
		height: 8px;
	}
	
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
	.box{
		width: 10px;
		height: 10px;
	}
}

 
 /* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.box{
		width: 11px;
		height: 11px;
	}
	.nav-links{
		width: 70%;
		}
 }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	.nav-links{
		width: 60%;
		}
	}
	@media screen and (max-height: 500px){
		.navbar{
			height: 60px !important;
		}
		.nav-links{
			top: 60px !important;
		}
	}
	@media screen and (max-width: 991px){
		body{
			overflow-x: hidden;
		}
		.nav-links{
			position: absolute;
			right: 0px;
			top: 10vh;
			height: 90vh;
			width: 50%;
			background-color: #807e7e;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			text-align: center;
			transform: translateX(100%);
			transition: transform  0.5s ease-in;
		}
		.nav-links li{
			opacity: 0;
		}
		.burger{
			display: block;
			cursor: pointer;
		}

	}
	.nav-active{
		transform:translateX(0%);
	}
	@keyframes navLinkFade{
		from{
			opacity: 0;
			transform: translateX(50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	.toggle .line1{
		transform: rotate(-45deg) translate(-5px,6px);
	}
	.toggle .line2{
		opacity: 0;
	}
	.toggle .line3{
		transform: rotate(45deg) translate(-5px,-6px);
	}