/* global reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}
body{
	background: url('bg.png') center center/cover;
}
/* nawigacja */
.navbar{
	padding: 0 15px;
	height: 10vh;
}
nav{

	display: flex;
	align-items: center;
	background-color: #f2f2f2;
	transition: all 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* linki w nawigacji */
.nav-links{
	display: flex;
	margin: auto 0;
	list-style: none;
	width: 45%;
	justify-content: space-between;
}
.nav-links li{
	margin: 0 4px;
}
.nav-links a{
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
	color: #4a5053;
}
/* icons hover effects */
#dzielo:hover{
color:#0275d8 ;

}
.fa-facebook-square:hover{
	color: #3b5998;

}
.fa-instagram-square:hover{
	color: #833AB4;
}
.fa-twitter-square:hover{
	color: #1DA1F2;
}
.fa-youtube:hover{
	color: #c4302b;
}
.fa-flickr:hover{
	color: #807e7e;
}
/* mobilny burger */
.burger{
	display: none;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: #4a5053;
	margin: 5px;
	transition: all 0.3s ease;
}
/* logo */
#nav-cont img{
	top: 0;
}
#logo-img{
	transition: all 0.4s;
	}
.logo-tiny{
	width: 60px;
}
.logo-big{
	width: 140px;
}

/* utility */
.space-1{
	height: 15vh;
}
.space-2{
	height: 100px;
}

#form-cont{
	padding: 2% 15px;
}
#info{
	width: 100%;
	text-align: justify;
	line-height: 1.25;
}
#info ul{
	list-style: none;
	line-height: 1.5;
	text-align: left;
}
#info p{
	margin-bottom: 0.25rem;
}
#info p::first-letter{
	font-size: 150%;
}

#form{
	padding: 4% 0;
}
#cont {
	position: relative;
	height: fit-content;
	margin: 0 auto;
	background-color: #f2f2f2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* acordeon */

div.accordion {

  width: 100%;
  background-color:white;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 5px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

div.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
	float: right;
	vertical-align: middle;
}

div.accordion.is-open:after {
  content: '\f056';
}

div.accordion:hover, button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.l-opt{
	text-align: center;
	background-color: #f2f2f2;
	min-height: 30px;
	height: fit-content;
	padding: 0;
}
.l-opt:hover{
	cursor: pointer;
	background-color: #ddd;
}
/* inputy */
textarea{
	background-color: #f2f2f2;
	overflow:hidden;
	border: none;
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 1.7;
}
textarea:focus{
	outline: none;
	 border: 1.5px solid #0275d8;
}
textarea::placeholder { 
	text-align: center; 
} 
input[type="text"]{
	border: none;
	width: 100%;
	height: 56.4px;
	text-align: center;
}
input[type="text"]::placeholder {      
	text-align: center; 
} 
input:focus{
	outline: none;
   border: 1.5px solid #0275d8;
}
input[type="submit"]{
	width: 304px;
}
#cap{
	margin: 0 auto;
	width: auto;
}
#cap-cont{
	text-align: center;
}
#cap> div{
	width: auto !important;
}
/* cake */
#cake{
	margin: 0 auto;
}
.dis-none{
	display: none;
}
.container{
	padding: 0;
}
#uif{
	color: #f2f2f2;
}
#cake-widecont{
	background: url('bg-cake.png') no-repeat center center/cover;
}
#cake-cont{
width: 100%;
height:100%;

justify-content: center;
padding: 2% 0 0 0;
}
/* user info */
#uinf-cont{
	overflow-wrap: anywhere;
	height: 240px;

}
#uinf{
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;
}

#back{
	display: none;
	text-align: center;
	margin: 0 auto;
}
.box{
	width: 5.5px;
	height: 5.5px;
	background-color: rgba(250, 163, 0, 1);
	color: #f2f2f2;
	float: left;
	border-radius:70%;
}
.box:hover{
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.pulse{
	animation: pulse 2s infinite;
}
@keyframes pulse{
	0%{
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(250, 163, 0, 0.7);
	}
	70%{
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(250, 163, 0, 0);
		;
	}
	100%{
		transform: scale(0.9);
	}
}
.box:nth-child(even){
	visibility: hidden;
}
/* MEDIA QUERIES */
@media screen and (max-width: 330px){ 
	.box{
		width: 5.5px;
		height: 5.5px;
	}
}
@media screen and (min-width: 374px){ 
	
	#uinf-cont{
		height: 192px;
	}

	.box{
		width: 6.5px;
		height: 6.5px;
	}
}
 /* Small devices (landscape phones) */
 @media screen and (min-width: 411px){ 
	#uinf-cont{
		height: 168px;
	}

	.box{
		width: 7px;
		height: 7px;
	}
	
}
@media screen and (min-width: 576px){ 
	#uinf-cont{
		height: 120px;
	}

	.box{
		width: 8px;
		height: 8px;
	}
	
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
	#uinf-cont{
		height: 96px;
	}
	.box{
		width: 10px;
		height: 10px;
	}
}

 
 /* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	#uinf-cont{
		height: 72px;
	}
	.box{
		width: 11px;
		height: 11px;
	}
	.nav-links{
		width: 70%;
		}
 }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	.nav-links{
		width: 60%;
		}
	}
	@media screen and (max-height: 500px){
		.navbar{
			height: 60px !important;
		}
		.nav-links{
			top: 60px !important;
		}
	}
	@media screen and (max-width: 991px){
		body{
			overflow-x: hidden;
		}
		.nav-links{
			position: absolute;
			right: 0px;
			top: 10vh;
			height: 90vh;
			width: 45%;
			background-color:rgba(224, 224, 224, 0.95);
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			text-align: center;
			transform: translateX(100%);
			transition: transform  0.5s ease-in;
		}
		.nav-links li{
			opacity: 0;
		}
		.burger{
			display: block;
			cursor: pointer;
		}

	}
	.nav-active{
		transform:translateX(0%);
	}
	@keyframes navLinkFade{
		from{
			opacity: 0;
			transform: translateX(50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	.toggle .line1{
		transform: rotate(-45deg) translate(-5px,6px);
	}
	.toggle .line2{
		opacity: 0;
	}
	.toggle .line3{
		transform: rotate(45deg) translate(-5px,-6px);
	}